<div class="row">
  <div class="col-lg-12">
    <h1>Two</h1>
    <p>Find me in app/views/pages/two.html.erb</p>
    <h3>Rails routes</h3>
    <img class="img-responsive" src="<%= asset_path 'Rakefile.jpg' %>" alt="Screenshot">
  </div>
</div>